@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

:root {
  --size-space-300: 12px;
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-primitives-brand-800: rgba(44, 44, 44, 1);
}
